* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #ffffff;
  --logo-text: #000000;
  --primary-text: #181d27;
  --secondary-text: #535862;
  --about-bg: #fafafa;
  --category-text: #6941c6;
  --hover-color-btn: #6941c6; /*Contact Us*/
  --button-color-projects: #ffffff;
  --projects: #ffffff;
  --project-info: #181d27;
  --project-btn-hover: #fafafa;
  --svg-theme-hover: #6941c6;
  --border-projects-btn: #d5d7da;
  --top-button: #414651;
}

:root:has(#theme-toggle:checked) {
  --background-color: #0c0e12;
  --logo-text: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #94979c;
  --about-bg: #13161b;
  --category-text: #cecfd2;
  --projects: #13161b;
  --button-color-projects: #13161b;
  --project-btn-hover: #373a41;
  --project-info: #94979c;
  --border-projects-btn: #373a41;
  --top-button: #ffffff;
}

body {
  font-family: "Inter";
  display: block;
  width: 1440px;
  /* height: 2180px; */
  height: auto;
  max-height: 2180px;
  max-width: 1440px;
  background-color: var(--background-color);
  margin: 0 auto;
  transition: all 0.5s ease-in;
}

.container {
  width: 1440px;
}

main {
  /* height: 1932px; */
  height: auto;
}

/*<!-- ========================= -->
    <!--         HEADER            -->
    <!-- ========================= -->*/
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);
  transition: all 0.5s ease-in;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 80px;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.icon {
  display: flex;
  justify-content: space-between;
  width: 124px;
  height: 24px;
  margin-left: 32px;
}

.icon img {
  margin-top: 3px;
  display: inline-block;
  width: 31px;
  height: 19px;
}

.applet {
  display: inline-block;
  width: 82px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--logo-text);
  transition: all 0.5s ease-in;
}
/*<!-- ========================= -->
  <!--  NAVIGATION, BURGER MENU  -->
  <!-- ========================= -->*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 34px;
  width: 319px;
  height: 24px;
}

.menu-box {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--secondary-text);
  transition: all 0.5s ease-in;
  font-weight: 600;
  font-size: 16px;
}

.navigation ul li a:hover {
  color: #53389e;
}

#menu-toggle,
#theme-toggle {
  display: none;
}

.theme-switch {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.theme-switch .sun {
  display: block;
}

.theme-switch .moon {
  display: none;
}

#theme-toggle:checked ~ .theme-switch .sun {
  display: none;
}

#theme-toggle:checked ~ .theme-switch .moon {
  display: block;
}

.theme-switch .sun:hover,
.theme-switch .moon:hover {
  filter: brightness(0) saturate(100%) invert(24%) sepia(32%) saturate(3302%)
    hue-rotate(236deg) brightness(89%) contrast(93%);
}

/*<!-- ========================= -->
  <!--         PROJECTS          -->
  <!-- ========================= -->*/
.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 64px;
  width: 1440px;
  /* height: 992px; */
  background: var(--background-color);
  transition: all 0.5s ease-in;
}

.projects-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 768px;
  max-width: 768px;
  height: 160px;
}

.projects-h3 {
  width: 768px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--category-text);
  transition: all 0.5s ease-in;
}

.projects-h2 {
  width: 768px;
  height: 44px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.7px;
  color: var(--primary-text);
  transition: all 0.5s ease-in;
}

.projects-content-with-p {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.projects-p {
  width: 768px;
  height: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--secondary-text);
  word-spacing: 2.2px;
  transition: all 0.5s ease-in;
}

.projects-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 0px;
  gap: 27px 32px;
  width: 1216px;
  bottom: 10px;
  height: auto;
}

.projects-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 384px;
  min-width: 320px;
  height: 462px;
}

.projects-article:nth-child(2),
.projects-article:nth-child(3) {
  gap: 10px;
}

.article-image img {
  height: 240px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
  display: flex;
  flex-direction: column;
  max-width: 384px;
  object-fit: cover;
  object-position: center;
}

.article-info {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.article-tag {
  width: 384px;
  height: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--category-text);
  transition: all 0.5s ease-in;
}

.article-title {
  width: 384px;
  height: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-text);
  transition: all 0.5s ease-in;
  text-decoration: none;
}

.article-title a {
  text-decoration: none;
  color: inherit;
}

.article-title svg {
  display: inline;
  float: right;
}

.article-description {
  width: 384px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-text);
  transition: all 0.5s ease-in;
  text-wrap: balance;
}

.article-duration {
  font-weight: 600;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: var(--project-info);
  transition: all 0.5s ease-in;
}

.article-created {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-text);
  transition: all 0.5s ease-in;
}
/*<!-- ========================= -->
  <!--            TAB            -->
  <!-- ========================= -->*/

.filter-container {
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--secondary-text);
  gap: 3px;
  z-index: 0;
  flex-wrap: wrap;
  width: 1216px;
  /* align-items: flex-start; */
  /* justify-items: flex-start; */
  margin: 0;
  /* padding: 0; */
}

.tab {
  position: relative;
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
  color: var(--secondary-text);
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-weight: bold;
  gap: 5px;
}

.tab.active {
  color: #53389e;
  /* font-weight: bold; */
}

.tab.active::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -5px;
  right: -5px;
  height: 2px;
  background-color: #53389e;
  z-index: 2;
  transition: all 3s ease-in-out;
}

.projects-articles {
  transition: opacity 0.3s ease-in-out;
}

/* .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/*<!-- ========================= -->
  <!--          FOOTER           -->
  <!-- ========================= -->*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px 48px;
  gap: 64px;
  width: 1440px;
  height: 168px;
  max-height: 168px;
  background: #53389e;
}
.footer-content {
  gap: 32px;
  width: 1280px;
  max-width: 1280px;
  height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 32px 0px 0px;
  gap: 24px 32px;
  width: 1216px;
  height: 56px;
  border-top: 1px solid #7f56d9;
}

.footer-info {
  width: 263px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d6bbfb;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 25px;
  width: 168px;
  height: 24px;
  max-width: 168px;
}

.footer-social svg:hover path {
  fill: white;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 7%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--background-color); /* Set a background color */
  color: var(--top-button); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border: 1px solid var(--logo-text);
}

#myBtn svg path {
  fill: var(--top-button);
}

#myBtn:hover {
  background-color: var(
    --project-btn-hover
  ); /* Add a dark-grey background on hover */
}
.mobile-nav {
  display: none;
}

@media (max-width: 1439px) and (min-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    height: auto;
  }

  body,
  .container,
  .header-content,
  .hero-content,
  .projects-content {
    width: 100%;
  }
  .header-content {
    margin: 0;
  }

  main {
    height: auto;
  }

  .hero-title,
  .projects-header,
  .projects-content-with-p,
  .projects-p,
  .projects-h3,
  .projects-h2,
  .projects-content,
  .hero-img img,
  .hero-p,
  .hero-text,
  .about-content,
  .about-h2,
  .about-p,
  .projects-article,
  .faq-h2,
  .faq-p,
  .contacts-content,
  .contacts-header,
  .contacts-info {
    width: 100%;
    height: auto;
  }

  .hero-btns,
  .hero-with-btn {
    height: auto;
  }

  .about-header,
  .about-cards,
  .projects-articles,
  .faq-content,
  .footer-content,
  .filter-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: auto;
    height: 100%;
  }
  .slider-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .faq-info {
    width: auto;
    height: auto;
  }
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 599px) and (min-width: 375px) {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* height: 732px; */
    /* margin: 0 auto; */
    width: clamp(375px, 100vw, 599px);
  }
  /*<!-- ========================= -->
  <!--         HEADER            -->
  <!-- ========================= -->*/

  .mobile-nav {
    display: block;
  }
  .container,
  main {
    width: clamp(375px, 100vw, 599px);
  }
  /*<!-- ========================= -->
  <!--         HEADER            -->
  <!-- ========================= -->*/
  .header-content {
    margin: 0;
    padding: 0 15px;
    width: clamp(375px, 100vw, 599px);
    height: 72px;
    align-items: center;
    position: relative;
  }
  header {
    position: fixed; /* Фиксируем шапку */
    top: 0;
    left: 0;
    width: 100%; /* На всю ширину экрана */
    z-index: 1000; /* Чтобы был поверх других элементов */
  }
  .icon {
    margin: 0;
  }
  .applet {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  /*<!--FOR MOBILE-- >*/
  .navigation {
    display: none;
  }

  /* ===== MOBILE MENU FIXED VERSION ===== */
  .mobile-nav {
    position: relative;
    z-index: 1000;
  }

  .mobile-menu-checkbox {
    display: none;
  }

  .mobile-nav {
    width: 100%;
  }

  .mobile-menu-button {
    position: absolute;
    top: -10px;
    right: 5px;
    width: 26px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
  }

  .mobile-menu-icon,
  .mobile-menu-icon::before,
  .mobile-menu-icon::after {
    content: "";
    display: block;
    width: 26px;
    height: 2px;
    background: var(--logo-text);
    position: absolute;
    transition: all 0.3s ease;
  }

  .mobile-menu-icon {
    top: 9px;
  }

  .mobile-menu-icon::before {
    top: -8px;
  }

  .mobile-menu-icon::after {
    top: 8px;
  }

  .mobile-menu-checkbox:checked + .mobile-menu-button .mobile-menu-icon {
    background: transparent;
  }

  .mobile-menu-checkbox:checked
    + .mobile-menu-button
    .mobile-menu-icon::before {
    transform: rotate(45deg) translate(6px, 5px);
  }

  .mobile-menu-checkbox:checked + .mobile-menu-button .mobile-menu-icon::after {
    transform: rotate(-45deg) translate(6px, -5px);
  }

  .mobile-menu-container {
    position: fixed;
    top: 72px; /* Высота header */
    right: -100vw;
    width: 100vw;
    height: calc(100vh - 72px);
    background: var(--background-color);
    transition: transform 0.3s ease;
    z-index: 999;
    display: flex;
  }

  /* Левая часть - навигация */
  .mobile-menu {
    flex: 1;
    /* padding: 20px 0 20px 20px; */
    margin: 0;
    padding: 0;
    list-style: none;
    /* border-right: 1px solid #f4f4f4; */
    width: 275px; /* 96px - ширина правой колонки */
  }

  .mobile-menu li {
    padding: 16px 0;
    border-bottom: 1px solid #f4f4f4;
    transition: background 0.3s ease;
  }

  .mobile-menu li:last-child {
    border-bottom: none;
  }

  .mobile-menu a {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    transition: color 0.3s ease;
    padding: 0 16px;
  }

  .mobile-menu li:hover {
    background: #53389e;
  }

  .mobile-menu li:hover a {
    color: #fff;
  }

  /* Правая часть - соцсети и тема */
  .mobile-menu-footer {
    width: 96px;
    background-color: #53389e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .mobile-social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 32px;
  }

  .mobile-social a {
    display: block;
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
  }

  .mobile-social a:hover {
    filter: brightness(0) invert(1) opacity(0.8);
  }

  .theme-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .theme-switch img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
  }

  /* Активация меню */
  .mobile-menu-checkbox:checked ~ .mobile-menu-container {
    transform: translateX(-100%);
  }

  /* Фикс для body при открытом меню */
  body.menu-open {
    overflow: hidden;
  }

  /*<!-- ========================= -->
  <!--          PROJECTS         -->
  <!-- ========================= -->*/
  main {
    width: clamp(375px, 100vw, 599px);
  }
  .projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 90px 0px; */
    padding: 63px 0px;
    gap: 48px;
    width: clamp(375px, 100vw, 599px);
    /* height: 1890px; */
    height: auto;
    margin: 0;
  }
  .projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 18px;
    width: clamp(343px, 100vw, 599px);
    height: 208px;
  }
  .projects-content-with-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 343px;
    height: 108px;
  }
  .projects-h3 {
    width: 343px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .projects-h2 {
    width: 343px;
    height: 76px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.8px;
  }
  .projects-p {
    width: 343px;
    height: 84px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.1px;
  }

  .projects-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    gap: 48px;
    width: 375px;
    height: 1506px;
    height: auto;
  }
  .projects-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 343px;
    height: 438px;
  }
  .article-image img {
    width: 343px;
    height: 240px;
  }
  .article-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 343px;
    height: 114px;
  }
  .article-tag {
    width: 343px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .article-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 343px;
    height: 30px;
  }
  .article-link {
    width: 343px;
    height: 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  .article-description {
    width: 343px;
    height: 48px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
  }
  .projects-view-Btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 6px;
    width: 343px;
    height: 48px;
  }
  .filter-container {
    width: 375px;
    display: flex;
    justify-content: flex-start;
  }

  /* <!-- ========================= -->
  <!--          FOOTER           -->
  <!-- ========================= -->*/
  footer {
    padding: 48px 0px;
    gap: 48px;
    width: clamp(375px, 100vw, 599px);
    height: 200px;
    padding-bottom: 148px;
  }
  .footer-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 32px 0px 0px; */
    gap: 24px;
    width: 343px !important;
    height: 104px;
    flex-wrap: nowrap;
  }

  #myBtn {
    left: 50%;
    width: 50px;
  }
}
