* {
  box-sizing: border-box;
  text-decoration: none !important;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Inter;
  font-size: 100%;
  vertical-align: baseline;
  width: 1440px;
  height: 100%;
}

.container {
  width: 1440px;
  max-width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  max-height: 24px;
  margin: 28px 80px;
}

.logo {
  width: 124px;
  height: 24px;
  gap: 50px;
}

.icon {
}

.applet {
  width: 82px;
  height: 24px;
  top: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

:root {
  --background-color: #ffffff;
  --logo-text: #000000;
  --primary-text: #181d27;
  --secondary-text: #535862;
  --different-bg: #fafafa;
  --category-text: #6941c6;
  --hover-color-btn: #6941c6; /*Contact Us*/
  --button-color-projects: #ffffff;
  --project-info: #181d27;
  --project-btn-hover: #fafafa;
  --svg-theme-hover: #6941c6;
}

:root:has(#theme-toggle:checked) {
  --background-color: #0c0e12;
  --logo-text: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #94979c;
  --different-bg: #13161b;
  --category-text: #cecfd2;
  --button-color-projects: #13161b;
  --project-btn-hover: #373a41;
  --project-info: #94979c;
}

#menu-toggle {
  display: none;
}

/* Общий стиль для слайдера */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden; /* Скрываем все слайды, кроме активного */
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Плавный переход для переключения слайдов */
}

.slider-card {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-card img {
  width: 20%;
  height: 50%;
}

.slider-scroll {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: #ffd700; /* Цвет активной точки */
}

/* Стиль для слайдов с отзывами */
.slider-rating img {
  width: 10%;
}

.slider-review {
  margin-top: 20px;
}

.slider-name,
.slider-work {
  font-size: 14px;
  color: #666;
}

.slider-content {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slider-card {
  min-width: 100%;
  display: none; /* Скрыть все слайды по умолчанию */
  flex-shrink: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-card.active {
  display: block; /* Показывать только активный слайд */
}
